footer {
  text-align: center;
  background-color: #1b1b37;
  padding: 20px;
  margin: 50px 0px 0px;
  height: max-content;
  color: #fff; }
  footer #icono {
    position: relative;
    bottom: 60px; }
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px; }
  footer #mail {
    padding: 15px;
    text-align: left;
    margin-top: 20px;
    font-size: 28px; }
  footer .frase {
    text-align: right;
    font-size: 30px;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    bottom: 350%; }
  footer .links {
    font-size: x-large; }

header {
  text-align: center;
  background-color: #1b1b37;
  padding: 100px 100px;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-radius: 0px;
  margin-right: 0%;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 5px;
  display: grid;
  background-size: cover;
  animation-name: animation;
  animation-duration: 4s; }
  header .titulo {
    font-size: 50px;
    font-family: 'Creepster', cursive;
    text-decoration: #000; }
  header #grad {
    background-image: linear-gradient(to bottom right, #10102e, #0d4d28); }
  header .sub-icon {
    display: grid;
    align-content: center; }
  @media screen and (min-width: 768px) {
    header header {
      background-color: #0d4d28; } }
  @media screen and (max-width: 768px) {
    header header {
      background-color: #0d4d28; } }
  @media screen and (min-width: 1024px) {
    header header {
      background-color: #1b1b37; } }

@keyframes animation {
  from {
    background-color: yellowgreen; }
  to {
    background-color: #1b1b37; } }

body {
  font-family: 'Goudy Bookletter 1911', serif;
  color: black;
  background-color: #908578;
  margin-right: 0%;
  font-size: larger; }
  body .links {
    text-decoration: none;
    color: #0d4d28; }
    body .links:hover {
      text-decoration: underline; }
  body .text {
    margin: 50px;
    font-family: 'Goudy Bookletter 1911', serif; }
  body .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px; }
    body .redes .red:hover {
      -webkit-transform: scale(1);
      transform: scale(1.3);
      transition: all .3s ease-in-out; }

.pie {
  text-align: center;
  background-color: #1b1b37;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  font-weight: 200px;
  text-decoration: #000; }
  .pie #icon {
    display: grid;
    align-content: center;
    position: sticky;
    top: 10px; }

.navbar {
  margin-bottom: 50px; }

.card-title {
  font-size: larger;
  font-family: 'Creepster', cursive; }

.container {
  padding-top: 50px; }
  .container form {
    margin-right: 50px; }

table {
  background-color: #6a6156; }
  table .links-cuento {
    text-decoration: none;
    color: #000; }

article {
  padding-left: 50px; }
  article .formu {
    padding: 50px;
    padding-top: 20px; }

.formul, article .formu {
  margin-right: 60%;
  display: grid;
  animation-name: mail;
  animation-duration: 4s; }

@keyframes mail {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

#cards {
  padding: 30px; }

.news {
  list-style: none;
  display: inline-block;
  display: flex;
  justify-content: space-evenly; }
  .news .btn-1 {
    background-color: #d33737;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  .news .btn-2 {
    background-color: #8e3939;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  .news .btn-3 {
    background-color: #a52a2a;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  .news .btn-4 {
    background-color: #7a2121;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
