footer {
  text-align: center;
  background-color: #1b1b37;
  padding: 20px;
  margin: 50px 0px 0px;
  width: 100%;
  margin-right: 0%;
  height: max-content;
  color: whitesmoke;
  border: 0ch;
  background-size: cover; }
  footer #icono {
    position: relative;
    bottom: 60px; }
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px; }
  footer article {
    padding-left: 0%; }
  footer #mail {
    padding: 15px;
    text-align: left;
    margin-top: 10px;
    font-size: 28px; }
  footer .frase {
    text-align: right;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 0px; }
  footer .links {
    font-size: x-large; }

header {
  text-align: center;
  background-color: #1b1b37;
  color: whitesmoke;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-radius: 0px;
  margin-right: 0%;
  border: 0ch;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 5px;
  display: grid;
  background-size: cover;
  animation-name: animation;
  animation-duration: 4s; }
  header .titulo {
    font-size: 50px;
    font-family: 'Creepster', cursive;
    text-decoration: #000; }
  header #grad {
    background-image: linear-gradient(to bottom right, #10102e, #0d4d28); }
  header .sub-icon {
    display: grid;
    align-content: center; }
  @media screen and (min-width: 768px) {
    header {
      background-color: #0d4d28; } }
  @media screen and (max-width: 768px) {
    header {
      background-color: #0d4d28; } }
  @media screen and (min-width: 1024px) {
    header {
      background-color: #1b1b37; } }

@keyframes animation {
  from {
    background-color: yellowgreen; }
  to {
    background-color: #1b1b37; } }

body {
  font-family: 'Goudy Bookletter 1911', serif;
  color: black;
  background-color: #908578;
  font-size: larger;
  margin: 0px; }
  body .links {
    text-decoration: none;
    color: #2b9a59; }
    body .links:hover {
      text-decoration: underline; }
  body .text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Goudy Bookletter 1911', serif; }
  body .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px; }
    body .redes .red:hover {
      -webkit-transform: scale(1);
      transform: scale(1.3);
      transition: all .3s ease-in-out; }

.index {
  font-size: xx-large; }
  .index header {
    padding: 100px;
    padding-bottom: 0px; }
    @media screen and (max-width: 768px) {
      .index header {
        padding: 10px;
        padding-bottom: 0px; } }
  .index .h4i {
    font-size: larger; }
  @media only screen and (max-width: 768px) {
    .index img.rounded {
      font-size: 250px;
      height: 250px; } }

main .breadcrumb-item.active {
  color: #000; }

.breadcrumb-item + .breadcrumb-item::before {
  color: #000; }

.text a {
  color: #072815;
  text-decoration: none; }

.pie {
  text-align: center;
  background-color: #1b1b37;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  font-weight: 200px;
  color: whitesmoke; }
  .pie #icon {
    display: grid;
    align-content: center;
    position: sticky;
    top: 10px; }

.navbar {
  margin-bottom: 50px; }

.card-title {
  font-size: larger;
  font-family: 'Creepster', cursive; }

.container {
  padding-top: 50px; }
  .container form {
    margin-right: 50px; }

main.text article {
  padding-left: 0%; }
  @media only screen and (max-width: 768px) {
    main.text article {
      margin-left: 0px;
      padding-left: 0px; } }
  main.text article table {
    background-color: #6a6156; }
    main.text article table .links-cuento {
      text-decoration: none;
      color: #000; }

article {
  padding-left: 50px; }
  article .formu {
    padding: 50px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20px; }

.formul, article .formu {
  margin-right: 50%; }

.text .gridd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media only screen and (max-width: 768px) {
    .text .gridd {
      display: block; } }
  .text .gridd ul {
    list-style-type: none; }

@media only screen and (max-width: 768px) {
  .text div.col iframe {
    height: 150px;
    width: 250px; } }

#cards {
  padding: 30px; }

.news {
  list-style: none;
  display: inline-block;
  display: flex;
  justify-content: space-evenly; }
  .news .btn-1 {
    background-color: #d33737;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  .news .btn-2 {
    background-color: #8e3939;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  .news .btn-3 {
    background-color: #a52a2a;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  .news .btn-4 {
    background-color: #7a2121;
    border-radius: 50px;
    font-family: 'Creepster', cursive; }
  @media only screen and (max-width: 768px) {
    .news {
      margin-left: 0px;
      padding-left: 0px;
      display: block; } }

article h5 {
  text-decoration: underline;
  margin-top: 50px;
  font-weight: bold; }

.reco-creep {
  background-color: #d33737;
  transform: rotate(15deg);
  background-image: linear-gradient(to right, #10102e, #908578);
  color: whitesmoke; }
