@import "footer";
@import "header";


//variables
$color-primary: #1b1b37;
$color-secondary: #0d4d28;

$spacing1: 50px;
$spacing2: 10px;
$spacing3: 0px;

//operaciones
$espacio: 10px;

body {
    font-family: 'Goudy Bookletter 1911', serif;
    color: black;
    background-color: #908578;
    margin-right: 0%;
    font-size: larger;
    padding-right: 0%;
    border-right: 0%;
    margin-right: 0%;
    border: 0ch;

    .links {
        text-decoration: none;
        color: $color-secondary;

        &:hover {
            text-decoration: underline;
        }
    }

    .text {
        margin: $spacing1;
        margin-right: 0%;
        font-family: 'Goudy Bookletter 1911', serif;
    }

    .redes {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: $spacing3;

        .red {


            &:hover {
                -webkit-transform: scale(1);
                transform: scale(1.3);
                transition: all .3s ease-in-out;
            }

        }

    }


}

.pie {
    text-align: center;
    background-color: $color-primary;
    margin-top: $spacing3;
    margin-bottom: $espacio/2;
    padding: $spacing3;
    padding-right: $espacio/2;

    padding-bottom: $spacing2;
    border-radius: $spacing2;
    border-top-right-radius: $spacing3;
    border-top-left-radius: $spacing3;
    font-weight: $espacio * 20;
    text-decoration: #000;

    #icon {
        display: grid;
        align-content: center;
        position: sticky;
        top: $spacing2;
    }
}


.navbar {
    margin-bottom: $spacing1;
}

.card-title {
    font-size: larger;
    font-family: 'Creepster', cursive;
}

.container {
    padding-top: $spacing1;


    form {
        margin-right: $spacing1;
    }
}


table {
    background-color: #6a6156;


    .links-cuento {
        text-decoration: none;
        color: #000;
    }
}


article {
    padding-left: $spacing1;

    .formu {
        padding: $spacing1;
        padding-top: 20px;
        @extend .formul
    }
}

.formul {
    margin-right: 60%;
    display: grid;
    animation-name: mail;
    animation-duration: 4s;

    @keyframes mail {
        from {
            margin-left: 100%;
            width: 300%
        }

        to {
            margin-left: 0%;
            width: 100%;
        }

    }
}


#cards {
    padding: 30px;
}

$propuestas: (
    color1: #d33737,
    color2: #8e3939,
    color3: #a52a2a,
    color4: #7a2121,
);

@mixin botton-set {
    border-radius: 50px;
    font-family: 'Creepster', cursive;

}

.news {
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;

    .btn-1 {
        background-color: map-get($propuestas , color1);
        @include botton-set
    }

    .btn-2 {
        background-color: map-get($propuestas , color2);
        @include botton-set
    }

    .btn-3 {
        background-color: map-get($propuestas , color3);
        @include botton-set
    }

    .btn-4 {
        background-color: map-get($propuestas , color4);
        @include botton-set
    }

}