@import "footer";
@import "header";


//variables
$color-primary: #1b1b37;
$color-secondary: #0d4d28;

$spacing1: 50px;
$spacing2: 10px;
$spacing3: 0px;

//operaciones
$espacio: 10px;

body {
    font-family: 'Goudy Bookletter 1911', serif;
    color: black;
    background-color: #908578;
    font-size: larger;
    margin: 0px;

    .links {
        text-decoration: none;
        color: #2b9a59;

        &:hover {
            text-decoration: underline;
        }
    }

    .text {
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Goudy Bookletter 1911', serif;
    }

    .redes {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: $spacing3;

        .red {


            &:hover {
                -webkit-transform: scale(1);
                transform: scale(1.3);
                transition: all .3s ease-in-out;
            }

        }

    }

}

.index {
    font-size: xx-large;

    header {
        padding: 100px;
        padding-bottom: 0px;

        @media screen and (max-width: 768px) {
            padding: 10px;
            padding-bottom: 0px;

        }
    }

    .h4i {
        font-size: larger;
    }

    img.rounded {

        @media only screen and (max-width: 768px) {

            font-size: 250px;
            height: 250px;

        }


    }
}

main .breadcrumb-item.active {
    color: #000;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #000;
}

.text a {
    color: #072815;
    text-decoration: none;
}

.pie {
    text-align: center;
    background-color: $color-primary;
    margin-top: $spacing3;
    margin-bottom: $espacio/2;
    padding: $spacing3;
    padding-right: $espacio/2;

    padding-bottom: $spacing2;
    border-radius: $spacing2;
    border-top-right-radius: $spacing3;
    border-top-left-radius: $spacing3;
    font-weight: $espacio * 20;
    color: whitesmoke;

    #icon {
        display: grid;
        align-content: center;
        position: sticky;
        top: $spacing2;
    }
}


.navbar {
    margin-bottom: $spacing1;
}

.card-title {
    font-size: larger;
    font-family: 'Creepster', cursive;
}

.container {
    padding-top: $spacing1;


    form {
        margin-right: $spacing1;
    }
}

main.text article {
    padding-left: 0%;

    @media only screen and (max-width: 768px) {

        margin-left: 0px;
        padding-left: 0px;
    }

    table {
        background-color: #6a6156;

        .links-cuento {
            text-decoration: none;
            color: #000;
        }
    }
}


article {
    padding-left: $spacing1;

    .formu {
        padding: $spacing1;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 20px;
        @extend .formul
    }
}

.formul {
    margin-right: 50%;
}

.text {


    .gridd {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media only screen and (max-width: 768px) {

            display: block;
        }

        ul {
            list-style-type: none;
        }


    }

    div.col iframe {
        @media only screen and (max-width: 768px) {
            height: 150px;
            width: 250px;
        }
    }
}

#cards {
    padding: 30px;
}

$propuestas: (
    color1: #d33737,
    color2: #8e3939,
    color3: #a52a2a,
    color4: #7a2121,
);

@mixin botton-set {
    border-radius: 50px;
    font-family: 'Creepster', cursive;

}

.news {
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;

    .btn-1 {
        background-color: map-get($propuestas , color1);
        @include botton-set
    }

    .btn-2 {
        background-color: map-get($propuestas , color2);
        @include botton-set
    }

    .btn-3 {
        background-color: map-get($propuestas , color3);
        @include botton-set
    }

    .btn-4 {
        background-color: map-get($propuestas , color4);
        @include botton-set
    }




    @media only screen and (max-width: 768px) {

        margin-left: 0px;
        padding-left: 0px;
        display: block;
    }
}


article {
    h5 {
        text-decoration: underline;
        margin-top: 50px;
        font-weight: bold;
    }

    p.cuenta {
        text-align: left;
        margin-top: 50px;
    }

    p.cuentb {
        text-align: right;

        margin-top: 50px;
    }

}

.reco-creep {
    background-color: #d33737;
    transform: rotate(15deg);
    background-image: linear-gradient(to right, #10102e, #908578);
    color: whitesmoke;

}