header {
    text-align: center;
    background-color: #10102e;
    padding: 100px 100px;
    border-radius: 10px;
    border-end-end-radius: 0px;
    border-radius: 0%;
    font-weight: 700;
    font-size: larger;

    font-weight: bold;
    font-size: larger;

    padding-bottom: 5px;
    display: grid;
    background-size: cover;
    animation-name: animation;
    animation-duration: 4s;
}

.navbar {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    header {
        background-color: #0d4d28;
    }
}

#icon {
    display: grid;
    align-content: center;
    position: sticky;
    top: 10px;
}
.sub-icon {
    
    display: grid;
    align-content: center;
}


@keyframes animation {
    from {
        background-color: yellowgreen;
    }

    to {
        background-color: #10102e
    }
}

#grad {
    background-image: linear-gradient(to bottom right, #10102e,
            #0d4d28)
}

body {
    font-family: 'Goudy Bookletter 1911', serif; color: black;
    background-color: #908578;
    text-decoration: white;
}

.pie {
    text-align: center;
    background-color: #161640;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
    
    padding-bottom: 10px;
    border-radius: 10px;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    font-weight: 200px;
    text-decoration: #000;


}

#menu ul li {
    list-style-type: none;
    text-decoration: none;
    color: #055928;
    align-items: left;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 100px;
}

#menu {
    display: grid;
}


@media screen and (max-width: 768px) {
    header {
        background-color: #0d4d28;
    }

}

@media screen and (min-width: 1024px) {
    #menu {
        justify-items: stretch;
        flex-direction: row;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    header {
        background-color: #10102e;
    }


}

@media screen and (min-width: 768px) {
    #menu {
        justify-items: stretch;
        flex-direction: row;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    header {
        background-color: hsl(145, 71%, 18%);
    }


}

form {
    margin-right: 50%;
}

.lista-uno {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100px;
}


.links {
    text-decoration: none;
    color: #055928;
}

.links-cuento {
    text-decoration: none;
    color: #000;
}

table {
    background-color: #6a6156;
}

.container {
    padding-top: 50px;
}

.text {
    margin: 50px;
    font-family: 'Goudy Bookletter 1911', serif;

}

article {
    padding-left: 50px;
}

footer {
    text-align: center;
    background-color: #1b1b37;
    padding: 20px;
    margin: 50px 0px 0px;
    height: max-content;
}

#icono {
    position: relative;
    bottom: 60px;
}

#mail {
    padding: 15px;
    text-align: left;
    margin-top: 20px;
    font-size: 28px;
}

.redes {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
}

.normas {
    list-style: disc;
}

.titulo {
    font-size: 50px;
    font-family: 'Creepster', cursive;
    text-decoration: #000;
}

nav {
    justify-items: center;
    font-size: large;
    font-size: x-large;
}

.frase {
    text-align: right;
    font-size: 30px;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 0%;

    position: relative;
    bottom: 350%;
}