header {
    text-align: center;
    background-color: #10102e;
    padding: 50px 100px;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;

    font-weight: bold;
    font-size: larger;

    padding-bottom: 5px;
    display: grid;
    background-size: cover;
    animation-name: animation;
    animation-duration: 4s;
}

@media screen and (max-width: 768px) {
    header {
        background-color: #0d4d28;
    }
}

#icon {
    display: grid;
    align-content:center ;
    position: sticky;
    top: 10px;
}


@keyframes animation {
    from {
        background-color: yellowgreen;
    }

    to {
        background-color: #10102e
    }
}

#grad {
    background-image: linear-gradient(to bottom right,#10102e,
    #0d4d28)
}
body {
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: #908578;
    text-decoration: #000;
}

.pie {
    text-align: center;
    background-color: #161640;
    margin-top: 0px;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    font-weight: 200;

}

#menu ul li {
    list-style-type: none;
    text-decoration: none;
    color: #055928;
    align-items: left;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 100px;
}

#menu {
    display: grid;
}


@media screen and (max-width: 768px) {
    header {
        background-color: #0d4d28;
    }

}

@media screen and (min-width: 1024px) {
    #menu {
        justify-items: stretch;
        flex-direction: row;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .photo {
        align-content: center;
    }

    header {
        background-color: #10102e;
    }


}

@media screen and (min-width: 768px) {
    #menu {
        justify-items: stretch;
        flex-direction: row;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .photo {
        align-content: center;
    }

    header {
        background-color: #0d4d28;
    }


}

#tu-relato {
    display: block;
}

.correo {
    display: flex;
    flex-direction: row;
}

.lista-uno {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100px;
}


.links {
    text-decoration: none;
    color: #055928;
}

.links-cuento {
    text-decoration: none;
    color: #000;
}

table {
    padding: 50px;
    text-align: center;
}

.text {
    margin: 50px;
    font-family: 'Goudy Bookletter 1911', serif;

}

article {
    padding-left: 50px;
}

footer {
    text-align: center;
    background-color: #1b1b37;
    padding: 20px;
    margin: 50px 0px 0px;
    height: max-content;
}

#mail {
    padding: 15px;
}

.redes {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.normas {
    list-style: disc;
}

.titulo {
    font-size: 50px;
    font-family: 'Creepster', cursive;
}

nav {
    justify-items: center;
    font-size: large;
    font-size: x-large;
}